<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i>
                    <span>Administration</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/"><i class="fa fa-circle-o"></i>Daftar Pengguna</a></li>
                    <li><a href="/"><i class="fa fa-circle-o"></i>Daftar Mitra</a></li>
                    <li><a href="/"><i class="fa fa-circle-o"></i>Daftar Kurir</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i>
                    <span>Pengiriman</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/"><i class="fa fa-circle-o"></i>Daftar Project</a></li>
                    <li><a href="/"><i class="fa fa-circle-o"></i>Daftar PEngiriman</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i>
                    <span>Penerimaan</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/"><i class="fa fa-circle-o"></i>Daftar Project</a></li>
                    <li><a href="/"><i class="fa fa-circle-o"></i>Daftar PEngiriman</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>