<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>    
    <% include head.ejs%>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <% include header.ejs%>
      <% include sidebar.ejs%>
      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            Dashboard
            <small>Control panel</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
        </section>
        <section class="content">

        </section>
      </div>
    </div>
  </body>
 <% include scriptside.ejs%>
</html>
